
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 16px;
    align-items: center;
}
nav .logo{
    margin-bottom: 16px;
}
nav ul{
    display: flex;
    list-style-type: none;   
    gap: 32px;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    /* align-items: center; */
}
nav ul .btn{
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    margin-left: 346px;
    font-weight: 600px;
    font-size: 16px;
    cursor: pointer;
}
nav ul .btn:hover{
    background-color: aqua;
}

#banner{
    margin: 0 auto;
    max-width: 1600px;
    text-align: center; 
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
}
#banner .banner-container #btn1{
    color: #30B868;
    background-color: #FFFFFF;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500px;
    border-radius: 25px;
    border: none;
    margin-top: 115.5px;
    margin-bottom: 16px;
    cursor: pointer;
}
#banner .banner-container #btn1:hover{
    color: aqua;
}
#banner .banner-container h1{
    font-size: 72px;
    font-weight: 700px;
    color: #FFFFFF;
}
#banner .banner-container #txt1{
    color: #30B868;
    margin-bottom: 16px;

}
#banner .banner-container p{
    font-size: 18px;
    font-weight: 400px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
}
#btn2{
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-weight: 600px;
    font-size: 16px;
    margin-right: 16px;
    cursor: pointer;
}
#btn2:hover{
    color: aqua;
}
#btn3{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12.5px 16px;
    font-weight: 600px;
    font-size: 16px;
    margin-bottom: 175px;
    cursor: pointer;
}
#btn3:hover{
    color: aqua;
}
#notes{
    text-align: center;
}
#notes .notes-container h2{
    margin-top: 40px;
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
}
#notes .notes-container p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 44px;
}
.notes-card{ 
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    gap: 24px;
    /* justify-content: space-around; */
    /* text-align: center; */
}
.notes-card .card{
    max-width: 322px;
    padding: 69.5px 24px 21.5px;
    box-shadow: 0 0 8px 0 #627382;
    border-radius: 8px;

}
.notes-card .card h4{
    color: #001931;
    font-size: 24px;
    font-weight: 600px; 
    margin-top: 16px;
    margin-bottom: 16px;
}
.notes-card .card p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    line-height: 20px;
}
#notes .notes-container .notes-card .card img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
}

#second-brain{
    max-width: 1360px;
    margin: 0 auto;
}
#second-brain .second-brain-container {
    display: flex;
    padding: 120px;
    gap: 60px;
    align-items: center;
}
.sb-img{
    height: 600px;
    width: 600px;
}
.sb-content{
    padding: 102px 0 102px;
    max-width: 750px;
}
.sb-content h6{
    color: #30B868;
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    margin-bottom: 16px;
}
.sb-content h3{
    color: #001931;
    font-size: 48px;
    font-weight: 700px;
    line-height: 100%;
}
.sb-content #sb-p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
}
.line-container{
    margin-top: 40px;
}
.line-container .line{
    display: flex;
    gap: 6px;
    color: #001931;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500px;
}